requests
requests-ntlm
requests-html
xmltodict
bs4
pandas
colorama
tqdm
joblib
pwnedpasswords
dnspython
google
stem
imapclient
psutil
pysocks
taser
unidecode
tabulate
dnsgen
tldextract
beautifulsoup4
boto3
random-user-agent
pyotp
# maigret
reports
bokeh
geopandas
libpysal
mapclassify
python-whois
nameparser
discordwebhook
selenium
selenium-wire